body
{
 margin: 0;
 padding: 0;
 color: #333;
 background-color: #eee;
 font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

h1,h2,h3,h4,h5,h6
{
 margin: 0 0 .5em;
 font-weight: 500;
 line-height: 1.1;
}

h2 a:link, h2 a:visited, h3 a:link, h3 a:visited, h4 a:link, h4 a:visited { color: black; text-decoration: none; }

h1 { font-size: 2.25em; } /* 36px */
h2 { font-size: 1.75em; } /* 28px */
h3 { font-size: 1.375em; } /* 22px */
h4 { font-size: 1.125em; } /* 18px */
h5 { font-size: 1em; } /* 16px */
h6 { font-size: .875em; } /* 14px */

p
{
 margin: 1em 0 1em;
 line-height: 1.5;
}

blockquote
{
 font-family: "Times New Roman", Times, serif;
 font-style: italic;
 font-size: 110%;
 padding: 1em 2em;
 margin: 0 0 2em;
 border-left: 5px solid #eee;
}

hr
{
 height: 0;
 margin-top: 1em;
 margin-bottom: 2em;
 border: 0;
 border-top: 1px solid #ddd;
}

ul {
  list-style-type: square;
  padding-left: 1.5em;
}

ol {
  padding-left: 1.5em;
}

li {
    padding: 5px;
}

table
{
 background-color: transparent;
 border-spacing: 0;
 border-collapse: collapse;
 border-top: 1px solid #ddd;
}

th, td
{
 padding: .5em 1em;
 vertical-align: top;
 text-align: left;
 border-bottom: 1px solid #ddd;
}

strong { 
    font-weight: bold;
}

img {
  max-width:100%;
  height:auto;
}

.container
{
 max-width: 50em;
 margin: 0 auto;
 background-color: #fff;
}

.header
{
 color: #000;
 background: #f2f2f2;
 padding: 1em;
}

.header-heading { margin: 0; font-family: "Times New Roman", Times, serif; text-align: center;}
.header-heading-line2 { margin: 0; font-family: "Times New Roman", Times, serif; font-style: italic; text-align: center;}
.header-nav { margin: 0; padding: 1em 0em; text-align: center;}
.header-nav a:link, .header-nav a:visited { color: black; text-decoration: none; }

.content { padding: 1em 1.25em; }

.post-title {margin: 0; font-family: "Times New Roman", Times, serif;}
.post-date {color: #808080; font-size: small; margin: 0}

.footer
{
 color: #000;
 background: #f2f2f2;
 padding: 0.5em 1.25em;
 text-align: center;
}

.footnote {
 font-size: smaller;
}

@media all and (max-width: 320px){
    body{font-size: 14px;}
}

/* Wide styles */
@media (min-width: 42em)
{
 .header { padding: 1.5em 3em; }
 .content { padding: 2em 3em; }
 .footer { padding: 0.5em 3em; }
  body {font-size: 18px;}
}
